# Core dependencies
dash>=2.18.2
ipykernel>=6.29.5
ipywidgets>=8.1.5
jupyter>=1.1.1
mypy>=1.15.0
nbformat>=5.10.4
nbval>=0.11.0
pandas>=2.2.3
plotly>=6.0.0
polars>=1.23.0
pyarrow>=19.0.1
pytest>=8.3.5
requests>=2.32.3
ruff>=0.9.9
torch>=2.6.0
torchvision>=0.21.0
tqdm>=4.67.1
pyyaml>=6.0.1

# Development dependencies
pytest-cov>=5.0.0
black>=24.2.0
pre-commit>=3.6.2

# Install in development mode
-e . 